@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adding a reset for section elements */
section {
  padding: 0; /* Ensuring no default padding */
}

/* Add styles for full-width sections */
.full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@layer components {
  h1 {
    @apply font-mono text-white text-5xl leading-tight relative before:absolute before:w-2 before:h-full before:bg-yellow-300 before:-left-10;
  }

  h2 {
    @apply font-mono font-medium text-4xl text-center;
  }

  h4 {
    @apply font-semibold font-mono text-xl;
  }

  p,
  label,
  input,
  textarea,
  select {
    @apply text-sm font-normal leading-relaxed;
  }

  button {
    @apply py-3 px-6 text-sm font-medium rounded-sm;
  }
}

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2937;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #374151;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fde047;
}

/* Resetting margins and paddings */
html, body, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}
